BasedOnStyle: LLVM
BreakBeforeBraces: Custom
PointerAlignment: Left
ColumnLimit: 85

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Inline

BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: false
  BeforeWhile: false
